.banner {
    width: 100%;
    background-image: url('../../s/images/useful/banner-icons.png'), radial-gradient(50% 50% at 50% 50%, #1C2243 0%, #12162D 95.31%);
    background-repeat: repeat;
    background-position: center bottom;
    background-size: auto;
    @media (max-width: $sw-xx-max) {
        background-position: 0 0;
    }
    &__inner {
        min-height: 96rem;
        padding: 10.2rem 0 3rem 0;
        position: relative;
        @media (max-width: $sw-sm-max) {
            min-height: auto;
            padding: 8.5rem 0 6rem 0;
        }
        @media (max-width: $sw-xx-max) {
            padding: 10.8rem 0 4.3rem 0;
        }
    }
    &__tree {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3.2rem;
        pointer-events: none;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2.7rem;
        }
        img {
            @media (max-width: $sw-md-max) {
                height: 17rem;
            }
            @media (max-width: $sw-sm-max) {
                height: 14rem;
            }
            @media (max-width: $sw-xx-max) {
                height: 21.6rem;
            }
        }
    }
    &__calendar {
        position: absolute;
        top: 12.5rem;
        right: 0;
        pointer-events: none;
        @media (max-width: $sw-md-max) {
            right: 5rem;
        }
        @media (max-width: $sw-xs-max) {
            right: 1rem;
        }
        @media (max-width: $sw-xx-max) {
            right: initial;
            left: 2rem;
            top: 8.7rem;
        }
        img {
            @media (max-width: $sw-md-max) {
                height: 11rem;
            }
            @media (max-width: $sw-xs-max) {
                height: 8rem;
            }
            @media (max-width: $sw-xx-max) {
                height: 6.3rem;
            }
        }
    }
    &__sled {
        position: absolute;
        top: 36.3rem;
        left: -27.7rem;
        pointer-events: none;
        @media (max-width: $sw-md-max) {
            left: 0;
        }
        @media (max-width: $sw-xs-max) {
            top: 30rem;
        }
        @media (max-width: $sw-xx-max) {
            left: -1.6rem;
            top: 20.5rem;
        }
        img {
            @media (max-width: $sw-md-max) {
                height: 18rem;
            }
            @media (max-width: $sw-sm-max) {
                height: 13rem;
            }
            @media (max-width: $sw-xs-max) {
                height: 10rem;
            }
            @media (max-width: $sw-xx-max) {
                height: 6.3rem;
            }
        }
    }
    &__santa {
        position: absolute;
        top: 28rem;
        right: -25.1rem;
        pointer-events: none;
        @media (max-width: $sw-md-max) {
            top: 35rem;
            right: -2rem;
        }
        @media (max-width: $sw-sm-max) {
            right: -5rem;
        }
        @media (max-width: $sw-xs-max) {
            right: -2rem;
        }
        @media (max-width: $sw-xx-max) {
            filter: blur(2px);
            right: 2.1rem;
            top: 9rem;
        }
        img {
            @media (max-width: $sw-md-max) {
                height: 37rem;
            }
            @media (max-width: $sw-sm-max) {
                height: 28rem;
            }
            @media (max-width: $sw-xs-max) {
                height: 22rem;
            }
            @media (max-width: $sw-xx-max) {
                height: 7.7rem;
            }
        }
    }
    &__snowman {
        position: absolute;
        left: -27.7rem;
        bottom: 0;
        pointer-events: none;
        @media (max-width: $sw-md-max) {
            left: 0;
        }
        @media (max-width: $sw-xx-max) {
            display: none;
        }
        img {
            @media (max-width: $sw-md-max) {
                height: 18rem;
            }
            @media (max-width: $sw-xs-max) {
                height: 15rem;
            }
        }
    }
    &__title {
        margin-bottom: 2.9rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 3.3rem;
        }
    }
    &__timer {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 62.4rem;
        background-image: url('../../s/images/useful/timer-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 3rem;
        padding: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 4.8rem;
        @media (max-width: $sw-sm-max) {
            max-width: 53.4rem;
        }
        @media (max-width: $sw-xs-max) {
            background-image: url('../../s/images/useful/timer-mobile-bg.png');
            max-width: 31.2rem;
            padding: 1.2rem;
            border-radius: 0;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 3.3rem;
        }
        &__item {
            width: 13.2rem;
            height: 11.8rem;
            background-image: url('../../s/images/useful/timer-item-bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            border: 2px solid #181D39;
            padding: 1.2rem;
            border-radius: 8px;
            overflow: hidden;
            @media (max-width: $sw-sm-max) {
                width: 11.2rem;
                height: 11rem;
            }
            @media (max-width: $sw-xs-max) {
                width: 6.6rem;
                height: 5.7rem;
            }
            @media (max-width: 359px) {
                width: 6rem;
            }
            &:after {
                content: '';
                display: block;
                width: 100%;
                position: absolute;
                top: 5rem;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                background-color: #181D39;
                @media (max-width: $sw-sm-max) {
                    top: 4.4rem;
                }
                @media (max-width: $sw-xs-max) {
                    top: 2.2rem;
                }
                @media (max-width: $sw-xx-max) {
                    top: 2rem;
                    height: 1px;
                }
            }
            &__time {
                font-family: $lobster;
                font-size: 7.2rem;
                line-height: 1em;
                margin-bottom: 4px;
                color: #EDEDED;
                @media (max-width: $sw-sm-max) {
                    font-size: 6.2rem;
                }
                @media (max-width: $sw-xs-max) {
                    font-size: 3.6rem;
                    margin-bottom: 2px;
                }
            }
            &__text {
                font-family: $lobster;
                color: #EDEDED;
                font-size: 1.2rem;
                line-height: 1.16em;
                text-transform: capitalize;
                @media (max-width: $sw-xs-max) {
                    font-size: 1rem;
                    line-height: 1em;
                }
            }
        }
    }
    &__action {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4.8rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 3.1rem;
        }
    }
    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            font-weight: 700;
            font-size: 2rem;
            line-height: 1.2em;
            color: $light;
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: $red;
                }
            }
            & + a {
                margin-left: 6.5rem;
            }
            img {
                width: 4.4rem;
                flex-shrink: 0;
                margin-bottom: 8px;
                user-select: none;
            }
        }
    }
}