mixin banner(data)
	.banner
		+header()
		.container
			.banner__inner
				.banner__tree
					img(src="s/images/useful/pine-tree.png", alt="pine-tree")
				.banner__calendar
					img(src="s/images/useful/banner-calendar.png", alt="banner-calendar")
				.banner__sled
					img(src="s/images/useful/sled.png", alt="sled")
				.banner__santa
					img(src="s/images/useful/banner-santa.png", alt="banner-santa")
				.banner__snowman
					img(src="s/images/useful/snowman.png", alt="snowman")
				.banner__title
					h1 Time until New Year
				.banner__timer
					.banner__timer__item
						span.banner__timer__item__time 6
						span.banner__timer__item__text days
					.banner__timer__item
						span.banner__timer__item__time 7
						span.banner__timer__item__text hours
					.banner__timer__item
						span.banner__timer__item__time 54
						span.banner__timer__item__text minutes
					.banner__timer__item
						span.banner__timer__item__time 32
						span.banner__timer__item__text seconds
				.banner__action
					button.btn.btn--red(type="button")
						img(src="s/images/useful/candy.png", alt="candy")
						span Buy token
				.banner__socials
					a(href="javascript:void(0)")
						img(src="s/images/useful/telegram.png", alt="telegram")
						span Telegram
					a(href="javascript:void(0)")
						img(src="s/images/useful/twitter.png", alt="twitter") 
						span Twitter