.l-wrapper{
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	&.menu-is-active {
		.header-mobile {
			transform: translateX(0);
			opacity: 1;
			visibility: visible;
		}
	}
}

a {
	transition: color .3s ease;
	text-decoration: none;
}

p {
	font-size: 1.6rem;
	line-height: 1.5em;
	color: $dark1;
}

.desktop-text {
	@media (max-width: 575px) {
		display: none;
	}
}
.mobile-text {
	display: none;
	@media (max-width: 575px) {
		display: block;
	}
}

.container {
	@media (min-width: 576px) {
		padding-left: 33px;
		padding-right: 33px;
	}
	@media (min-width: $sw-xs-min) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

h1 {
	font-size: 9.6rem;
	line-height: 1em;
	color: $white;
	font-family: $christmas;
	font-weight: 400;
	text-align: center;
	@media (max-width: $sw-sm-max) {
		font-size: 8.4rem;
	}
	@media (max-width: $sw-xs-max) {
		font-size: 6.8rem;
	}
	@media (max-width: $sw-xx-max) {
		font-size: 5.6rem;
	}
	@media (max-width: 359px) {
		font-size: 4.8rem;
	}
}

h2 {
	color: $white;
	font-family: $christmas;
	font-size: 7.2rem;
	line-height: 1.1em;
	font-weight: 400;
	@media (max-width: $sw-sm-max) {
		font-size: 6rem;
	}
	@media (max-width: $sw-xs-max) {
		font-size: 5.6rem;
	}
}