mixin road-map(data)
	.road-map
		.container
			h2.road-map__title Road Map
			.road-map__inner
				.road-map__santa
					img(src="s/images/useful/flying-santa.png", alt="santa")
				.road-map__list
					.road-map__list__col
						span.road-map__list__title Phase 1
						ol.road-map__list__item
							li New Website and Branding
							li Social Media Channels
							li Smart Contracts
							li Official Whitepaper 
							li Inter-Fi Audit 
							li Pinksale Presale 
							li Pancakeswap Launch 
							li Listing on Coin Gecko 
							li Listing on Coin Market Cap 
							li Post Launch Marketing PR 
							li CertiK Audit (Onboarding) 
							li 8k Telegram Members 
							li 5k Holders
					.road-map__list__col
						span.road-map__list__title Phase 2
						ol.road-map__list__item
							li Buy with credit card 
							li Charity Donations 
							li Community / Team Building 
							li Giveaways 
							li 20k Twitter Followers 
							li 10k Instagram Followers 
							li 20k Telegram Group Members 
							li Ongoing paid advertising 
							li 10k Holders
					.road-map__list__col
						span.road-map__list__title Phase 2
						ol.road-map__list__item
							li XFLOKI Inu Swap 
							li Listing on Major Exchanges 
							li Influencer Marketing Push 
							li Launch of Merchandise 
							li Further Partnerships 
							li NFT and Games 
							li Staking / Farming 
							li 30k Telegram Member 
							li 30k Twitter Followers