.road-map {
    background-image: url('../../s/images/useful/road-map-bg.png'), radial-gradient(50% 50% at 50% 50%, #1C2243 0%, #12162D 95.31%);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto;
    padding: 12rem 0;
    position: relative;
    @media (max-width: $sw-md-max) {
        padding: 9rem 0;
    }
    @media (max-width: $sw-xx-max) {
        padding: 6rem 0 0 0;
        height: 76rem;
    }
    &:after {
        @media (max-width: $sw-xx-max) {
            content: '';
            display: block;
            position: absolute;
            left: -3.3rem;
            bottom: 0;
            width: calc(100% + 6.6rem);
            z-index: 2;
            height: 9rem;
            background: linear-gradient(180deg, rgba(18, 22, 45, 0) 0%, #12162D 100%);
        }
    }
    .container {
        @media (max-width: $sw-xx-max) {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
    &__inner {
        position: relative;
        @media (max-width: $sw-xx-max) {
            position: relative;
            flex-grow: 1;
            overflow: hidden;
            overflow-y: auto;
            padding-bottom: 10rem;
        }
    }
    &__title {
        text-align: center;
        color: $white;
        margin-bottom: 6.2rem;
        position: relative;
        z-index: 2;
        display: block;
        width: 100%;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2.4rem;
        }
    }
    &__santa {
        position: absolute;
        top: 1.8rem;
        right: -18rem;
        z-index: 1;
        pointer-events: none;
        @media (max-width: $sw-md-max) {
            right: 0;
        }
        @media (max-width: $sw-xx-max) {
            display: none;
        }
        img {
            @media (max-width: $sw-md-max) {
                height: 25rem;
            }
            @media (max-width: $sw-sm-max) {
                height: 20rem;
            }
        }
    }
    &__list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        position: relative;
        z-index: 2;
        @media (max-width: $sw-xx-max) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-left: 0;
            margin-right: 0;
        }
        &__col {
            padding: 0 1.5rem;
            width: calc(100% / 3);
            @media (max-width: $sw-xx-max) {
                width: 100%;
                padding: 0;
            }
            &:not(:last-child) {
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 3.2rem;
                }
            }
        }
        &__item {
            width: 100%;
            padding: 0;
            margin: 0;
            list-style-position: inside;
            li {
                width: 100%;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 1.5em;
                color: $white;
                @media (max-width: $sw-xs-max) {
                    font-size: 1.5rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 1.6rem;
                }
            }
        }
        &__title {
            font-size: 2.4rem;
            line-height: 1.5em;
            margin-bottom: 1.6rem;
            color: $white;
            display: block;
            width: 100%;
            font-weight: 700;
        }
    }
}