mixin footer()
	footer.footer
		.footer__santa
			img(src="s/images/useful/footer-santa.png", alt="santa")
		.container
			.footer__inner
				.footer__list
					span.footer__list__title Information
					.footer__list__item
						a(href="javascript:void(0)") Whitepaper 
					.footer__list__item
						a(href="javascript:void(0)") Audit 
					.footer__list__item
						a(href="javascript:void(0)") Liquidity Lock 
					.footer__list__item
						a(href="javascript:void(0)") Medium  
				.footer__side
					span.footer__side__title Stay tuned
					.footer__side__socials
						a(href="javascript:void(0)")
							img(src="s/images/useful/telegram.png", alt="telegram")
						a(href="javascript:void(0)")
							img(src="s/images/useful/twitter.png", alt="twitter") 
					.footer__side__email
						a(href="mailto:info@happynewyear.com") info@happynewyear.com
				.footer__list
					span.footer__list__title Links
					.footer__list__item
						a(href="javascript:void(0)") CoinMarketCap 
					.footer__list__item
						a(href="javascript:void(0)") CoinGecko 
					.footer__list__item
						a(href="javascript:void(0)") Catgirl Swap
					.footer__list__item
						a(href="javascript:void(0)") Theme Song  