.footer {
    background-image: url('../../s/images/useful/footer-bg.png'), radial-gradient(50% 50% at 50% 50%, #1C2243 0%, #12162D 95.31%);
    background-repeat: repeat;
    background-size: auto;
    background-position: 0 0;
    position: relative;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 16.1rem;
        background-color: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        @media (max-width: $sw-xs-max) {
            height: 9.9rem;
        }
    }
    &__inner {
        position: relative;
        z-index: 2;
        padding: 11.3rem 0 29.6rem 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
            padding: 6rem 0 21.5rem 0;
        }
    }
    &__santa {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 3rem;
        pointer-events: none;
        z-index: 3;
        @media (max-width: $sw-xs-max) {
            width: 100%;
            display: flex;
            justify-content: center;
            bottom: 2.1rem;
        }
        img {
            @media (max-width: $sw-xs-max) {
                height: 15.3rem;
            }
        }
    }
    &__list {
        @media (max-width: $sw-xs-max) {
            width: calc(50% - 1rem);
            order: 1;
        }
        &__title {
            font-size: 1.6rem;
            line-height: 1.5em;
            letter-spacing: 0.48px;
            text-transform: uppercase;
            color: rgba($white, 0.5);
            display: block;
            width: 100%;
            margin-bottom: 8px;
            @media (max-width: $sw-xs-max) {
                font-size: 1.2rem;
            }
        }
        &__item {
            margin-bottom: 1.2rem;
            a {
                font-weight: 500;
                font-size: 2rem;
                line-height: 1.5em;
                color: $white;
                @media (max-width: $sw-xs-max) {
                    font-size: 1.4rem;
                }
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        color: $red;
                    }
                }
            }
        }
    }
    &__side {
        @media (max-width: $sw-xs-max) {
            width: 100%;
            order: 0;
            margin-bottom: 4rem;
        }
        &__title {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 2.4rem;
            font-size: 7.2rem;
            line-height: 1.1em;
            color: $white;
            font-family: $christmas;
            @media (max-width: $sw-xs-max) {
                font-size: 5.6rem;
            }
        }
        &__socials {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2.6rem;
            img {
                width: 7.2rem;
                height: 7.2rem;
            }
            a {
                margin: 0 2.4rem;
            }
        }
        &__email {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            a {
                font-weight: 500;
                font-size: 2rem;
                line-height: 1.5em;
                color: $white;
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        color: $red;
                    }
                }
            }
        }
    }
}