extends _includes/_extends/main

include _includes/components/banner/banner
include _includes/components/about-us/about-us
include _includes/components/tokenomics/tokenomics
include _includes/components/road-map/road-map
include _includes/components/how-to-buy/how-to-buy

block head
	+head({'title':'Main'})

block content
	+banner()
	+about-us()
	+tokenomics()
	+road-map()
	+how-to-buy()