button{
    // button reset
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color .3s ease, color .3s ease, border-color .3s ease;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    overflow: hidden;
    height: 7.6rem;
    min-width: 32rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1em;
    color: $light;
    border-radius: 3.8rem;
    position: relative;
    @media (max-width: $sw-sm-max) {
        height: 7rem;
        font-size: 2rem;
    }
    @media (max-width: $sw-xs-max) {
        height: 5.6rem;
        font-size: 2.4rem;
    }
    @media (max-width: $sw-xx-max) {
        min-width: auto;
        width: 100%;
        max-width: 32rem;
    }
    &--red {
        background-color: #FF7A7A;
        box-shadow: 0px 30px 60px -15px rgba(203, 50, 60, 0.25), inset 4px 4px 12px #F5616B;
        &:hover {
            &:after {
                @media (min-width: $sw-xs-min) {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: inherit;
            background-image: linear-gradient(180deg, #FF7A7A 0%, #CD2C2C 100%);
            z-index: 1;
            pointer-events: none;
            transition: opacity .3s ease, visibility .3s ease;
        }
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 6.6rem;
            z-index: 2;
            @media (max-width: $sw-xs-max) {
                height: 3.2rem;
            }
            @media (max-width: $sw-xx-max) {
                height: 3rem;
                left: 7.2rem;
            }
            @media (max-width: 359px) {
                left: 6rem;
            }
        }
        span {
            position: relative;
            z-index: 2;
        }
    }
}

.btn-copy {
    width: 100%;
    background-color: #B92828;
    border-radius: 3.1rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1em;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    position: relative;
    height: 6.2rem;
    padding: 0 4.2rem 0 2.4rem;
    border: 1px solid transparent;
    transition: border-color .3s ease;
    @media (max-width: $sw-sm-max) {
        font-size: 1.8rem;
    }
    @media (max-width: $sw-xx-max) {
        width: auto;
        font-size: 2rem;
        line-height: 1.5em;
        height: auto;
        padding: 1.6rem 6rem 1.6rem 2.4rem;
    }
    &:hover {
        @media (min-width: $sw-xs-min) {
            border-color: darken($white, 10%);
        }
    }
    &:active {
        @media (min-width: $sw-xs-min) {
            border-color: $white;
        }
    }
    &:after {
        content: '';
        display: block;
        width: 12rem;
        position: absolute;
        top: 50%;
        height: 100%;
        transform: translateY(-50%);
        right: 4.6rem;
        background-image: linear-gradient(270deg, #B92828 7%, rgba(185, 40, 40, 0) 100%);
        @media (max-width: $sw-xx-max) {
            width: 4rem;
        }
    }
    .icon-copy {
        flex-shrink: 0;
        font-size: 1.8rem;
        color: $white;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        right: 3.1rem;
    }
    span {
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @media (max-width: $sw-xx-max) {
            white-space: initial;
            text-overflow: initial;
            overflow: initial;
            word-break: break-all;
        }
    }
}