mixin how-to-buy(data)
	.how-to-buy
		.container
			.how-to-buy__inner
				h2.how-to-buy__title How to buy #[br] Happy New Year
				.how-to-buy__content
					.how-to-buy__text
						.how-to-buy__box
							.how-to-buy__box__image
								img.img-desktop(src="s/images/useful/how-to-buy-descr1.png", alt="img")
								img.img-mobile(src="s/images/useful/how-to-buy-dekor1.png", alt="img")
							.how-to-buy__box__title Download & setup MetaMask or TrustWallet
							p Download MetaMask (a crypto wallet in form of a browser extension) or TrustWallet (an app for your phone). After that, you will have to add the Binance Smart Chain to your network list. (Click here for a step-by-step tutorial)
						.how-to-buy__box
							.how-to-buy__box__image
								img.img-desktop(src="s/images/useful/how-to-buy-descr2.png", alt="img")
								img.img-mobile(src="s/images/useful/how-to-buy-dekor2.png", alt="img")
							.how-to-buy__box__title Buy and send BNB to MetaMask
							p Buy BNB on an exchange (i.e. Binance, Kraken, Coinbase etc.). Transfer the tokens to your MetaMask wallet address. BEP-20 addresses start with a “0”
						.how-to-buy__box
							.how-to-buy__box__image
								img.img-desktop(src="s/images/useful/how-to-buy-descr3.png", alt="img")
								img.img-mobile(src="s/images/useful/how-to-buy-dekor3.png", alt="img")
							.how-to-buy__box__title Head on to PancakeSwap and swap for NYT
							p Click here to head on over to PancakeSwap or use this address (Address Will Be Updated Here After Swap Ends) to select NYT. Set the slippage tolerance to 8% (sometimes it may be a bit more, depending on how much demand there is)
						.how-to-buy__box
							.how-to-buy__box__image
								img.img-desktop(src="s/images/useful/how-to-buy-descr4.png", alt="img")
								img.img-mobile(src="s/images/useful/how-to-buy-dekor4.png", alt="img")
							.how-to-buy__box__title View NYT and HODL Swap BNB for NYT.
							p Now you need to add NYT to your MetaMask (Tutorial here) or Trust Wallet to view your NYT. Lastly HODL!
					.how-to-buy__image
						img(src="s/images/useful/santa-pine-tree.png", alt="santa")