.how-to-buy {
    background-color: #EBEBEB;
    background-image: url('../../s/images/useful/how-to-buy-bg.png');
    background-size: auto;
    background-position: 0 0;
    background-repeat: repeat;
    &__title {
        text-align: center;
        color: #12162D;
        margin-bottom: 6rem;
        position: relative;
        z-index: 2;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 2rem;
        }
        br {
            display: none;
            @media (max-width: $sw-sm-max) {
                display: block;
            }
        }
    }
    &__inner {
        padding: 12rem 0 9rem 0;
        @media (max-width: $sw-xs-max) {
            padding: 6rem 0;
        }
    }
    &__content {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        max-width: 44rem;
        padding-left: 9.4rem;
        @media (max-width: $sw-md-max) {
            padding-left: 0;
        }
        @media (max-width: $sw-sm-max) {
            max-width: 100%;
        }
    }
    &__image {
        flex-shrink: 0;
        margin-right: -36rem;
        @media (max-width: $sw-md-max) {
            margin-right: -18rem;
        }
        @media (max-width: $sw-sm-max) {
            display: none;
        }
        img {
            @media (max-width: $sw-md-max) {
                height: 87rem;
            }
        }
    }
    &__box {
        width: 100%;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 6.2rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 3.3rem;
            }
        }
        &:first-child {
            .how-to-buy__box__image {
                top: 5.9rem;
                right: -29.4rem;
                @media (max-width: $sw-md-max) {
                    right: -20rem;
                }
                @media (max-width: $sw-sm-max) {
                    top: initial;
                    right: initial;
                    margin-bottom: -2.3rem;
                }
                img {
                    @media (max-width: $sw-md-max) {
                        height: 8rem;
                    }
                    @media (max-width: $sw-sm-max) {
                        height: auto;
                    }
                }
            }
        }
        &:nth-child(2) {
            .how-to-buy__box__image {
                top: 4.7rem;
                right: -36.8rem;
                @media (max-width: $sw-md-max) {
                    right: -26.5rem;
                }
                @media (max-width: $sw-sm-max) {
                    top: initial;
                    right: initial;
                }
                img {
                    @media (max-width: $sw-md-max) {
                        height: 6.5rem;
                    }
                    @media (max-width: $sw-sm-max) {
                        height: auto;
                    }
                }
            }
        }
        &:nth-child(3) {
            .how-to-buy__box__image {
                right: -33.4rem;
                top: 7.1rem;
                @media (max-width: $sw-md-max) {
                    right: -24.4rem;
                }
                @media (max-width: $sw-sm-max) {
                    top: initial;
                    right: initial;
                    margin-bottom: 7px;
                }
                img {
                    @media (max-width: $sw-md-max) {
                        height: 6rem;
                    }
                    @media (max-width: $sw-sm-max) {
                        height: auto;
                    }
                }
            }
        }
        &:last-child {
            .how-to-buy__box__image {
                right: -40.4rem;
                top: 3.3rem;
                @media (max-width: $sw-md-max) {
                    right: -30.6rem;
                }
                @media (max-width: $sw-sm-max) {
                    top: initial;
                    right: initial;
                    margin-bottom: -4rem;
                }
                img {
                    @media (max-width: $sw-md-max) {
                        height: 6rem;
                    }
                    @media (max-width: $sw-sm-max) {
                        height: auto;
                    }
                }
            }
        }
        &__title {
            font-size: 2.4rem;
            line-height: 1.3em;
            color: #12162D;
            display: block;
            width: 100%;
            margin-bottom: 8px;
            font-weight: 700;
        }
        &__image {
            position: absolute;
            @media (max-width: $sw-sm-max) {
                position: relative;
            }
            .img-desktop {
                @media (max-width: $sw-sm-max) {
                    display: none;
                }
            }
            .img-mobile {
                display: none;
                @media (max-width: $sw-sm-max) {
                    display: block;
                }
            }
        }
        p {
            font-size: 1.6rem;
            line-height: 1.5em;
            color: #12162D;
            margin-bottom: 0;
        }
    }
}