
// colors variables
$white:       #ffffff;
$black:       #000000;
$dark1:       #12162D;
$dark2:       #1C2243;
$dark3:       #424558;
$light:       #FAFCFE;
$red:         #CD2C2C;



// responsive breakpoints variables
$sw-xx-min: 0;
$sw-xs-min: 768px;
$sw-sm-min: 992px;
$sw-md-min: 1140px;
$sw-lg-min: 1440px;

$sw-xx-max:$sw-xs-min - 1px;
$sw-xs-max:$sw-sm-min - 1px;
$sw-sm-max:$sw-md-min - 1px;
$sw-md-max:$sw-lg-min - 1px;

$grid-breakpoints: (
  xs: $sw-xx-min,
  sm: $sw-xs-min,
  md: $sw-sm-min,
  lg: $sw-md-min,
  xl: $sw-lg-min
);

$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: 1140px,
  xl: 1140px
);

$grid-columns:                24;
$grid-gutter-width:           30px;
$grid-row-columns:            12;

// fonts
$quicksand: 'Quicksand', sans-serif;
$christmas: 'miraculous-christmas', sans-serif;
$lobster: 'Lobster', sans-serif;