.tokenomics {
    background-color: #EBEBEB;
    background-image: url('../../s/images/useful/tokenomics-bg.png');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    overflow: hidden;
    &__title {
        text-align: center;
        color: #12162D;
        margin-bottom: 7.8rem;
        position: relative;
        z-index: 2;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 13rem;
        }
    }
    &__inner {
        padding: 12rem 0;
        @media (max-width: $sw-xs-max) {
            padding: 6rem 0;
        }
    }
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        @media (max-width: $sw-xs-max) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }
    &__left {
        width: 26rem;
        height: 26rem;
        left: -4.6rem;
        margin-top: 13.1rem;
        @media (max-width: $sw-sm-max) {
            width: 24rem;
            height: 24rem;
            left: -2.7rem;
            margin-top: 10.1rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-top: 0;
            left: initial;
            width: 26rem;
            height: 26rem;
            margin-bottom: 14.1rem;
        }
        &:before {
            width: 39rem;
            height: 35rem;
            top: -1.5rem;
            background-image: url('../../s/images/useful/ball-red-bg.png');
        }
        &:after {
            top: -8.3rem;
        }
    }
    &__right {
        width: 24rem;
        height: 24rem;
        top: -2.7rem;
        right: -4.4rem;
        @media (max-width: $sw-sm-max) {
            top: -2.7rem;
            right: 0;
        }
        @media (max-width: $sw-xs-max) {
            top: initial;
            right: initial;
            width: 26rem;
            height: 26rem;
        }
        &:before {
            width: 39rem;
            height: 35rem;
            top: -3.7rem;
            background-image: url('../../s/images/useful/ball-red-right-bg.png');
            @media (max-width: $sw-xs-max) {
                top: -1.6rem;
                background-image: url('../../s/images/useful/ball-red-bg.png');
            }
        }
        &:after {
            top: -9.2rem;
            left: 50.5% !important;
        }
        .tokenomics__box {
            &:before {
                bottom: 33rem !important;
            }
        }
    }
    &__left,
    &__right {
        position: relative;
        border-radius: 50%;
        &:before {
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            pointer-events: none;
        }
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 100%;
            height: 10.4rem;
            background-image: url('../../s/images/useful/ball-top.png');
            background-repeat: no-repeat;
            background-position: center top;
            background-size: auto;
            pointer-events: none;
        }
        .tokenomics__box {
            @media (min-width: $sw-sm-min) {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                    bottom: 34rem;
                    transform: translateX(-50%);
                    width: 1px;
                    height: 40rem;
                    background-color: rgba($white, 0.5);
                }
            }
        }
    }
    &__center {
        width: 52rem;
        height: 52rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 50%;
        @media (max-width: $sw-sm-max) {
            width: 43rem;
            height: 43rem;
        }
        @media (max-width: $sw-xs-max) {
            width: auto;
            height: auto;
            background: transparent;
            box-shadow: none;
            border-radius: 0;
        }
        &:before {
            content: '';
            display: block;
            width: 100rem;
            height: 62.5rem;
            background-image: url('../../s/images/useful/ball-green-bg.png');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -2.7rem;
            pointer-events: none;
            @media (max-width: $sw-sm-max) {
                width: 53rem;
                height: 61.5rem;
                background-size: contain;
                top: -9rem;
            }
            @media (max-width: $sw-xs-max) {
                display: none;
            }
        }
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -8.5rem;
            display: block;
            width: 100%;
            height: 10.4rem;
            background-image: url('../../s/images/useful/ball-top.png');
            background-repeat: no-repeat;
            background-position: center top;
            background-size: auto;
            pointer-events: none;
            @media (max-width: $sw-xs-max) {
                display: none;
            }
        }
        &__title {
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1.5em;
            text-align: center;
            letter-spacing: 0.48px;
            text-transform: uppercase;
            color: rgba($white, 0.6);
            margin-bottom: 4rem;
            position: relative;
            z-index: 2;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 3rem;
            }
            @media (max-width: $sw-xs-max) {
                display: none;
            }
            &:before {
                @media (min-width: $sw-sm-min) {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                    bottom: 19.2rem;
                    transform: translateX(-50%);
                    width: 1px;
                    height: 25rem;
                    background-color: rgba($white, 0.5);
                }
            }
        }
        .tokenomics__box {
            height: auto;
            position: relative;
            @media (max-width: $sw-xs-max) {
                width: 26rem;
                height: 26rem;
                border-radius: 50%;
                margin-bottom: 14.1rem;
            }
            &:before {
                @media (max-width: $sw-xs-max) {
                    content: '';
                    display: block;
                    width: 39rem;
                    height: 35rem;
                    top: -1.5rem;
                    background-image: url('../../s/images/useful/ball-green-mobile-bg.png');
                    position: absolute;
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    background-size: auto;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                }
            }
            &:after {
                @media (max-width: $sw-xs-max) {
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: -8.5rem;
                    display: block;
                    width: 100%;
                    height: 10.4rem;
                    background-image: url('../../s/images/useful/ball-top.png');
                    background-repeat: no-repeat;
                    background-position: center top;
                    background-size: auto;
                }
            }
            &__title {
                display: none;
                @media (max-width: $sw-xs-max) {
                    display: block;
                }
            }
            & + .tokenomics__box {
                margin-top: 4rem;
                @media (max-width: $sw-sm-max) {
                    margin-top: 2.5rem;
                }
                @media (max-width: $sw-xs-max) {
                    margin-top: 0;
                }
            }
        }
    }
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0 2.5rem;
        position: relative;
        z-index: 1;
        &__title {
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1.5em;
            text-align: center;
            letter-spacing: 0.48px;
            text-transform: uppercase;
            color: rgba($white, 0.6);
            margin-bottom: 1.6rem;
            position: relative;
            z-index: 2;
            @media (max-width: $sw-sm-max) {
                font-size: 1.5rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.6rem;
            }
        }
        &__num {
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 1.125em;
            text-align: center;
            color: $white;
            margin-bottom: 8px;
            position: relative;
            z-index: 2;
            @media (max-width: $sw-sm-max) {
                font-size: 2.8rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 3.2rem;
            }
        }
        &__text {
            font-size: 2rem;
            line-height: 1.2em;
            text-align: center;
            color: $white;
            position: relative;
            z-index: 2;
            @media (max-width: $sw-sm-max) {
                font-size: 1.8rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 2rem;
            }
        }
    }
}