mixin tokenomics(data)
	.tokenomics
		.container
			.tokenomics__inner
				h2.tokenomics__title Happy New Year Tokenomics
				.tokenomics__content
					.tokenomics__left
						.tokenomics__box
							.tokenomics__box__title
								span Total supply
							.tokenomics__box__num
								span 1,000,000,000
							.tokenomics__box__text
								span New Year Tokens
					.tokenomics__center
						.tokenomics__center__title
							span Taxes
						.tokenomics__box
							.tokenomics__box__title
								span Taxes
							.tokenomics__box__num
								span 10%
							.tokenomics__box__text
								span Tax on every transaction
						.tokenomics__box
							.tokenomics__box__title
								span Taxes
							.tokenomics__box__num
								span 4%
							.tokenomics__box__text
								span Development and marketing
						.tokenomics__box
							.tokenomics__box__title
								span Taxes
							.tokenomics__box__num
								span 3%
							.tokenomics__box__text
								span Reflectio
					.tokenomics__right
						.tokenomics__box
							.tokenomics__box__title
								span Team wallet
							.tokenomics__box__num
								span 3%
							.tokenomics__box__text
								span Is used for the development