mixin header(data)
	header.header
		.container
			.header__inner
				a.header__candy(href="javascript:void(0)") 
					img(src="s/images/useful/candy-cricle.png", alt="candy")
				ul.header__list.h-reset-list
					li
						a(href="javascript:void(0)") About 
					li
						a(href="javascript:void(0)") Tokenimics 
					li
						a(href="javascript:void(0)") Roadmap 
					li
						a(href="javascript:void(0)") How to buy
				.header__actions
					a(href="javascript:void(0)")
						+svg('icon-share')
						span Chart
					button.btn.btn--red(type="button")
						span 1 NYT = $0.0261
				button.header__burger(type="button")
					+svg('icon-burger')
	.header-mobile
		.header-mobile__top
			.header__actions
				a(href="javascript:void(0)")
					+svg('icon-share')
					span Chart
				button.btn.btn--red(type="button")
					span 1 NYT = $0.0261
			button.header-mobile__close(type="button")
				+svg('icon-close')
		.header-mobile__inner
			ul.header-mobile__list.h-reset-list
				li
					a(href="javascript:void(0)") About 
				li
					a(href="javascript:void(0)") Tokenimics 
				li
					a(href="javascript:void(0)") Road Map 
				li
					a(href="javascript:void(0)") How to buy
			.header-mobile__socials
				a(href="javascript:void(0)")
					img(src="s/images/useful/telegram.png", alt="telegram")
				a(href="javascript:void(0)")
					img(src="s/images/useful/twitter.png", alt="twitter") 
			.header-mobile__email
				a(href="mailto:info@happynewyear.com") info@happynewyear.com
			.header-mobile__image
				img(src="s/images/useful/footer-santa.png", alt="santa")