.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: transparent;
    box-shadow: none;
    transition: background-color .1s ease, box-shadow .3s ease;
    &.is-scrolled {
        background-color: #141831;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $sw-xs-max) {
            height: 7.6rem;
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn {
            height: 3.6rem;
            padding: 0 1.6rem;
            font-size: 1.4rem;
            line-height: 1em;
            color: #FAFCFE;
            margin-left: 2.4rem;
            font-weight: 700;
            width: auto;
            min-width: auto;
            @media (max-width: $sw-xs-max) {
                order: 0;
                margin-left: 0;
                margin-right: 1.2rem;
                padding: 0 1.1rem;
            }
            @media (max-width: 359px) {
                margin-right: 1rem;
                padding: 0 9px;
            }
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.5em;
            color: #DC3B46;
            @media (max-width: $sw-xs-max) {
                order: 1;
            }
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: lighten(#DC3B46, 10%);
                }
            }
            .icon-share {
                flex-shrink: 0;
                font-size: 1.3rem;
                margin-right: 1rem;
            }
        }
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $sw-xs-max) {
            display: none;
        }
        li {
            margin: 0 1.6rem;
            height: 7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $sw-sm-max) {
                margin: 0 1.4rem;
            }
        }
        a {
            color: $light;
            font-weight: 700;
            font-size: 2rem;
            line-height: 1.2em;
            @media (max-width: $sw-sm-max) {
                font-size: 1.8rem;
            }
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: $red;
                }
            }
        }
    }
    &__burger {
        display: none;
        @media (max-width: $sw-xs-max) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
        }
        .icon {
            font-size: 4.4rem;
        }
    }
    &__candy {
        margin-right: 1rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $sw-xs-max) {
            margin-right: 1.7rem;
        }
        @media (max-width: 359px) {
            margin-right: 8px;
        }
        img {
            @media (max-width: 359px) {
                height: 3.5rem;
            }
        }
    }
    &-mobile {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 30;
        background-image: url('../../s/images/useful/header-mobile-bg.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        transition: transform .3s ease, opacity .3s ease, visibility .3s ease;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 9.3rem;
            background-color: $white;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 2;
        }
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 20;
            height: 7.6rem;
            padding: 0 1.6rem;
            background-color: #151830;
        }
        &__inner {
            padding-bottom: 20rem;
            overflow: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            position: relative;
            z-index: 5;
        }
        &__close {
            .icon {
                font-size: 4.4rem;
            }
        }
        &__image {
            pointer-events: none;
            z-index: 3;
            position: fixed;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 1.3rem;
            left: 0;
            img {
                height: 15.3rem;
            }
        }
        &__list {
            width: 100%;
            padding: 7rem 4.8rem 0 4.8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 2.4rem;
            position: relative;
            z-index: 12;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2.4rem 0;
                text-align: center;
                position: relative;
                width: 100%;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.71%, rgba(255, 255, 255, 0) 100%);
                    opacity: 0.1;
                    height: 1px;
                    width: 100%;
                }
            }
            a {
                font-size: 4rem;
                line-height: 1.1em;
                color: $white;
                font-family: $christmas;
            }
        }
        &__socials {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.6rem;
            position: relative;
            z-index: 12;
            img {
                width: 7.2rem;
                height: 7.2rem;
            }
            a {
                margin: 0 2.4rem;
            }
        }
        &__email {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            z-index: 12;
            a {
                font-weight: 500;
                font-size: 2rem;
                line-height: 1.5em;
                color: $white;
            }
        }
    }
}