.about-us {
    background-color: #DC3B46;
    &__inner {
        padding: 5.2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
            padding: 12rem 0 6.5rem 0;
        }
    }
    &__text {
        width: 100%;
        max-width: 54rem;
        margin-right: 3rem;
        @media (max-width: $sw-sm-max) {
            max-width: 45rem;
        }
        @media (max-width: $sw-xx-max) {
            max-width: 100%;
            margin-right: 0;
        }
        strong {
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 1.5em;
            @media (max-width: $sw-sm-max) {
                font-size: 2.2rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 2rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 2.4rem;
            }
        }
        p {
            margin-bottom: 1.6rem;
            color: $white;
            font-size: 2rem;
            line-height: 1.5em;
            @media (max-width: $sw-sm-max) {
                font-size: 1.8rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.7rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 2rem;
            }
        }
        .btn-copy {
            margin-top: 2.5rem;
        }
    }
    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -6rem;
        flex-shrink: 0;
        @media (max-width: $sw-md-max) {
            margin-right: -2rem;
        }
        @media (max-width: $sw-sm-max) {
            margin-right: 0;
        }
        @media (max-width: $sw-xx-max) {
            position: absolute;
            top: -2.2rem;
            right: 4.5rem;
        }
        img {
            @media (max-width: $sw-md-max) {
                max-height: 48rem;
            }
            @media (max-width: $sw-xs-max) {
                max-height: 35rem;
            }
            @media (max-width: $sw-xx-max) {
                height: 17.4rem;
            }
        }
    }
    &__title {
        margin-bottom: 2.4rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2.1rem;
        }
        br {
            display: none;
            @media (max-width: $sw-xx-max) {
                display: block;
            }
        }
    }
}