mixin about-us(data)
	.about-us
		.container
			.about-us__inner
				.about-us__text
					h2.about-us__title About #[br] Happy New Year
					p 
						strong NYT is a rug-proof deflationary BEP20 token on the Binance Smart Chain.
					p The more NYT you hold, the more tokens you will earn. As you sell your NYT, the value increases due to burning automatically. So it creates an ecosystem that encourages investor to hold their tokens and enjoy the rewards.
					button.btn-copy(type="button")
						span 0xfDfF7a8eDA6a3739132867f989bE4bf84E803c15
						+svg('icon-copy')
				.about-us__image
					img(src="s/images/useful/about-us.png", alt="about-us")